@import "./styles/Fonts.css";

:root {
  /* Main brand */
  --akti-burgundy: #590b25;
  --akti-copper: #673446;
  --akti-sand: #f2c8b6;
  --akti-sky: #cddef4;
  --akti-fire: #df2a2c;
  --akti-grey: #735e64;
  --akti-savana: #be6455;
  --akti-warm-grey: #c1b2b6;
  --akti-sage: #afc8be;
  --akti-white: #ffffff;
}

:root {
  --font-lama: "Lama Sans Regular", sans-serif;
}

#root,
body,
main {
  font-family: var(--font-lama);
}

html,
body,
#root {
  width: 100%;
  padding: 0;
  margin: 0;
  /* scrollbar-width: none !important; */
}

body::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}

body {
  background-color: var(--akti-burgundy);
  height: auto;
  overflow: auto;
  overflow-x: hidden;
}
